<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/common.css"/>
    <link rel="stylesheet" href="../../styles/page.css"/>
    <style>
        #member-app .notAdmin::after {
            border: 0 !important;
        }
    </style>
</head>
<body>
<div class="dashboard-container" id="member-app">
    <div class="container">
        <div class="tableBar">
            <el-input
                    v-model="input"
                    placeholder="请输入方法名"
                    style="width: 250px"
                    clearable
                    @keyup.enter.native="handleQuery"
            >
                <i
                        slot="prefix"
                        class="el-input__icon el-icon-search"
                        style="cursor: pointer"
                        @click="handleQuery"
                ></i>
            </el-input>

            <el-button
                    type="primary"
                    @click="addMemberHandle('add')"
            >
                + 新增方法寻优
            </el-button>
        </div>
        <el-table
                :data="tableData"
                stripe
                class="tableBox"
        >
            <el-table-column style="font-family: 'Times New Roman'"
                             prop="name"
                             label="方法名称"
            ></el-table-column>
            <el-table-column style="font-family: 'Times New Roman'"
                             prop="mainName"
                             label="主函数名"
            ></el-table-column>
            <el-table-column style="font-family: 'Times New Roman'"
                             prop="dataName"
                             label="数据集名称"
            ></el-table-column>
            <el-table-column
                    prop="methods"
                    label="其他.m文件"
            ></el-table-column>
            <el-table-column label="寻优状态">
                <template slot-scope="scope">
                    <template v-if="String(scope.row.status) === '0'">
                        <el-button type="danger" round style="height: 25px;padding: 0px 10px">
                            <i class="el-icon-aim"></i>
                            <span style="vertical-align: middle;margin-left: 0px">未寻优</span>
                        </el-button>
                    </template>
                    <template v-else-if="String(scope.row.status) === '1'">
                        <el-button type="success" round style="height: 25px;padding: 0px 10px">
                            <i class="el-icon-circle-check"></i>
                            <span style="vertical-align: middle;margin-left: 0px">已寻优</span>
                        </el-button>
                    </template>
                    <template v-else>
                        <el-button type="primary" round
                                   style="height: 25px;padding: 0px 10px;background: #409eff;border-color: #409eff;color: #FFFFFF">
                            <i class="el-icon-loading"></i>
                            <span style="vertical-align: middle;margin-left: 0px">寻优中</span>
                        </el-button>
                    </template>
                </template>
            </el-table-column>
            <!--收敛曲线-->
            <el-table-column prop="image" label="图片" align="center">
                <template slot-scope="{ row }">
                    <el-image style="width: auto; height: 40px; border:none;cursor: pointer;"
                              :src="getImage(row)"
                              :preview-src-list="[ `/common/download?name=${row.image}` ]">
                        <div slot="error" class="image-slot">
                            <img src="./../../images/noImg.png" style="width: auto; height: 40px; border:none;">
                        </div>
                    </el-image>
                </template>
            </el-table-column>

            <el-table-column
                    label="操作"
                    width="160"
                    align="center"
            >
                <template slot-scope="scope">
                    <template v-if="String(scope.row.status) === '0'">
                    <el-button
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="addMemberHandle(scope.row)"
                    >
                        执行寻优
                    </el-button>
                    </template>
                    <template v-else-if="String(scope.row.status) === '1'">
                        <el-button
                                type="text"
                                size="small"
                                class="blueBug"
                                @click="addMemberHandle(scope.row)"

                        >
                            查看图片
                        </el-button>
                    </template>
                    <template v-else>
                        <el-button
                                type="text"
                                size="small"
                                class="blueBug"
                                disabled
                        >
                            禁止点击
                        </el-button>
                    </template>
                    <el-button
                            type="text"
                            size="small"
                            class="delBut non"
                            @click="statusHandle(scope.row)">
                        <!--                            v-if="user === 'admin'"-->

                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="counts"
                :current-page.sync="page"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>
    <el-dialog
            :title="classData.title"
            :visible.sync="classData.dialogVisible"
            width="50%"
    >
        <template v-if="classData.title === '添加方法'">
            <el-upload
                    style="width: 100%"
                    class="upload-demo"
                    ref="upload"
                    accept=".m"
                    action="/common/upload"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :on-change="handleChange"
                    v-model:file-list="fileList"
                    :auto-upload="false">
                <el-button slot="trigger" type="primary"
                           style=" background: #409eff;border-color: #409eff;color: #FFFFFF">选取文件
                </el-button>
                <el-select v-model="value" placeholder="请选择数据集n*d*c" style="width: 36%">
                    <el-option
                            v-for="item in options"
                            :key="item.id"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                <el-button
                        type="primary"
                        @click="innerVisible = true"
                        style="background: #409eff;border-color: #409eff;color: #FFFFFF">
                    没有数据集？？？重新上传
                </el-button>
                <div slot="tip" class="el-upload__tip">只能上传.m文件，支持多个上传</div>
            </el-upload>
            <el-radio-group v-model="markedFile">
                <el-radio :label="file.name" v-for="file in fileList" :key="file.uid">{{ file.name }}</el-radio>
            </el-radio-group>
            <div slot="footer">
                <el-button style="margin-left: 10px;" type="success" @click="submitUpload('method')">上传.m文件</el-button>
                <el-button type="warning" @click="commitMethod">马上执行寻优</el-button>
                <el-button @click="handleClose('method')">暂时不寻优</el-button>
            </div>
        </template>

        <template v-else>
            <img :src="getImage(classData)" alt="图片" class="modal-image" width="100%"/>
            <span
                    slot="footer"
                    class="dialog-footer"
            >
            <el-button
                    size="medium"
                    @click="classData.dialogVisible = false">取 消</el-button>
            </span>
        </template>
        <el-dialog
                width="30%"
                title="上传数据集"
                :visible.sync="innerVisible"
                append-to-body>
            <el-upload
                    class="upload-demo"
                    ref="uploadMat"
                    action="/common/uploadMat"
                    accept=".mat"
                    :limit="limit"
                    :on-preview="handlePreviewMat"
                    :on-remove="handleRemoveMat"
                    :on-change="handleChangeMat"
                    :on-exceed="handleExceedMat"
                    v-model:file-list="matList"
                    :auto-upload="false">
                <el-button slot="trigger" type="primary"
                           style="background: #409eff;border-color: #409eff;color: #FFFFFF">选取文件
                </el-button>
                <div slot="tip" class="el-upload__tip">只能上传.mat文件，文件数量不多于10个</div>
            </el-upload>
            <div slot="footer">
                <el-button style="margin-left: 10px;" type="success" @click="submitUpload('data')">上传.mat文件</el-button>
                <el-button @click="handleClose('data')">取消</el-button>
            </div>
        </el-dialog>
    </el-dialog>

</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/member.js"></script>
<script src="../../js/validate.js"></script>
<script>
    new Vue({
        el: '#member-app',
        data() {
            return {
                input: '',
                counts: 0,
                page: 1,
                pageSize: 10,
                tableData: [],
                id: '',
                status: 0,
                classData: {
                    'dialogVisible': false,
                    'categoryId': '',
                    'name': '',
                    'dataName': '',
                    'image': '',
                    sort: ''
                },
                fileList: [],
                markedFile: '',
                options: [],
                value: '',
                innerVisible: false,
                matList: [],
                limit: 10,
                responseStr: '', //记录返回后的值
            }
        },
        computed: {
        },
        created() {
            this.init()
        },
        mounted() {
        },
        methods: {
            async init() {
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    name: this.input ? this.input : undefined
                }
                await getMemberList(params).then(res => {
                    this.tableData = res.data.records || []
                    this.counts = res.data.total
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            getImage(classData) {
                image = classData.image
                return `/common/download?name=${image}`
            },
            handleQuery() {
                this.page = 1;
                this.init();
            },
            // 添加
            addMemberHandle(st) {
                if (st === 'add') {
                    this.classData.title = "添加方法"
                    this.classData.dataName = st
                    this.classData.dialogVisible = true
                    this.loadOptionData();
                } else {
                    this.classData.title = "收敛性曲线"
                    this.classData.dataName = st.dataName
                    this.classData.name = st.name
                    this.classData.image = st.image
                    this.classData.dialogVisible = true
                    // this.imageUrl = `/common/download?name=test.png`
                }
            },
            //状态修改
            statusHandle(row) {
                this.id = row.id
                this.status = row.status
                this.$confirm('删除该方法?', '提示', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                    'type': 'warning'
                }).then(() => {
                    deleteMethod({'id': this.id, 'status': !this.status ? 1 : 0}).then(res => {
                        console.log('enableOrDisableEmployee', res)
                        if (String(res.code) === '1') {
                            this.$message.success('账号状态更改成功！')
                            this.handleQuery()
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            },
            handleSizeChange(val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange(val) {
                this.page = val
                this.init()
            },
            // 关闭弹窗
            handleClose(type) {
                if (type === 'method') {
                    this.classData.dialogVisible = false
                } else {
                    this.innerVisible = false
                }
            },
            submitUpload(type) {
                if (type === 'method') {
                    if (!this.markedFile) {
                        this.$message.error('请选择一个主文件');
                        return;
                    }
                    // this.$refs.upload.submit();
                    const formData = new FormData();
                    formData.append('markedFile', this.markedFile);

                    // 添加其他需要传递到后端的数据
                    formData.append('optionValue', this.value);
                    // 添加文件
                    this.fileList.forEach(file => {
                        formData.append('files[]', file.raw);
                    });
                    // 发送请求到后端，传递formData
                    axios
                        .post('/common/upload', formData)
                        .then((response) => {
                            console.log('Upload response:', response.data);
                            window.localStorage.setItem("status",1)
                            window.localStorage.setItem("responseStr", response.data.data)
                            // 处理上传成功后的逻辑
                            this.$refs.upload.delete
                            this.$message.success("文件上传成功！！！")
                        })
                        .catch((error) => {
                            console.error('Upload error:', error);
                            // 处理上传失败后的逻辑
                        });
                } else {
                    const formDataMat = new FormData();
                    // 添加文件
                    this.matList.forEach(file => {
                        formDataMat.append('files[]', file.raw);
                    });
                    // 发送请求到后端，传递formData
                    axios
                        .post('/common/uploadMat', formDataMat)
                        .then((response) => {
                            console.log('Upload response:', response.data);
                            // 处理上传成功后的逻辑
                            this.$refs.upload.submit();
                            this.innerVisible = false;
                        })
                        .catch((error) => {
                            console.error('Upload error:', error);
                            // 处理上传失败后的逻辑
                        });
                }

            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleChange(file, fileList) {
                this.fileList = fileList;
            },
            handleRemoveMat(file, fileList) {
                console.log(file, fileList);
            },
            handlePreviewMat(file) {
                console.log(file);
            },
            handleExceedMat(files, fileList) {
                this.$message.error('最多只能上传10个.mat文件');
            },
            handleChangeMat(file, fileList) {
                this.matList = fileList;
            },
            // 加载下拉框数据
            loadOptionData(){
                axios.get('/para/options')
                .then(response => {
                    this.options = response.data.data;
                })
                .catch(error =>{
                    console.error('Error: 加载数据集失败',error);
                });
            },
            // 立即寻优
            commitMethod(){
                const responseStr = window.localStorage.getItem("responseStr")
                if (window.localStorage.getItem("status")){
                    console.log(responseStr)
                }else {
                    this.$message.error('请先上传后在执行寻优')
                }

            }
        }
    })
</script>
</body>
</html>